#header {
    background-color:black;
    color:white;
    padding:5px;
}
#name {
    line-height:20px;
    background-color:#eeeeee;
    color:black;
    float:top;
    padding:5px;	      
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;	 	 
}